<div ng-controller='ClickerCtrl'>
    <h1 class='text-center'>
        <small><span class='glyphicon glyphicon-hand-right'></span></small>
        <button ng-click='click(clickPower)' class='btn btn-default btn-lg'>
            Clicker
        </button>
        <small><span class='glyphicon glyphicon-hand-left'></span></small>
    </h1>
    <hr>
    <div ng-show='score > 0' class='container-fluid'>
        <div class='row'>
            <h3 class='text-center'>
                Clicks: {{score}} 
                <span ng-show='clicksPerSecond > 0'><small>+ {{clicksPerSecond}}/s</small></span>
            </h3>
        </div>

        <div class='row'>
            <div class='col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3'>
                <div ng-show='score >= 10' class='panel panel-default'>
                    <div class="panel-heading"><h3 class='text-center'>${{money}}</h3></div>
                    <table class='table text-center'>
                        <tr ng-show='score >= item.unlock' ng-repeat='item in shop'>
                            <td>{{item.name}}</td>
                            <td>{{item.amnt}}</td>
                            <td>
                                <button class='btn btn-block' 
                         ng-class='soldout(item) ? "btn-danger" : "btn-primary"'
                         ng-click='buy(item)'
                         ng-disabled='!canbuy(item)'>
                                    {{ soldout(item) ? 'Sold Out!' : 'Buy $'+item.price }}
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- /container-fluid --!>
</div>
